.navbar {
    background: #265bff;
    grid-area: nav;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 90px;
    /* border-bottom: 1px solid white; */
    /* border-radius:8px; */
}

.nav_icon {
    display: none;
}

.nav_icon > i {
    font-size: 30px;
    color: orange;
    padding:20px;



}
.navbar__left > a {
    margin-right: 30px;
    tex-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.navbar__left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.navbar__right {
    display:flex;
    justify-content:center;
    align-items:center;
}
.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}
.navbar__right > a > i {
    color: white;
    font-size:19px;
    border-radius: 50px;
    background: orange;
    box-shadow: 2px 2px 5px white, -2px -2px 5px white;
    padding: 7px;
}

@media only screen and (max-width: 978px) {
    .nav_icon {
        display: inline;
    }
}
@media only screen and (max-width: 480px) {
    .navbar__lef {
        display:none;
    }
}